.image-block {
  margin-top: 2rem;

  > h5 {
    opacity: 0.8;
    margin-top: 1rem;
    color: #009bad;
  }

  .vs-block {
    position: relative;
  }
  .processed-block {
    position: absolute;
    z-index: 1;
    width: 100%;

    img {
      width: 100%;
    }
  }
  .origin-block {
    position: absolute;
    z-index: 2;
    width: 400px;
    overflow-x: hidden;

  }

  .handler {
    position: absolute;
    width: 2px;
    height: 100%;
    left: 450px;
    background-color: white;
    z-index: 3;
    opacity: 0.7;
  }

  .left-word,
  .right-word {
    color:#009bad;
    position: absolute;
    font-weight: bold;
    z-index: 3;
    top: 5px;
    font-size: 1.2rem;
    opacity: 0.8;
    border-radius: 5px;
    background-color: whitesmoke;

    padding: 3px;
  }

  .left-word {
    left: 5px;
  }
  .right-word {
    right: 5px;
  }
} // end image block
