@import "./modal-table";

//stripe mixin
@mixin stripes()  {
  background-size: 30px 30px;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
          transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
          transparent 75%, transparent);

  animation: animate-stripes 3s linear infinite;
}

@keyframes animate-stripes {
  0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}


.list-block {
  //
  background-color: white;
  padding: 1.5rem 2%;
  border-radius: 4px;
  font-size: 14px;


  .my-progress {
    width: 100%;
    background-color: white;
    padding: 2px 2px;
    border-radius: 20px;
    margin-top: 1px;
    margin-bottom: 1px;
  }
  .my-bar {

    height: 30px;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
    border-radius: 10px;
  }

   .my-bar-waiting{

     color: gray;
     background-color: white;

  }
  .my-bar-uploading{

    background-color: rgb(70,210,226);
  }

  .my-bar-compressing{

    background-color:rgb(61,223,129);
    @include stripes();
  }

  .my-bar-finished{

      background-color: #92ed14;

    }

  .my-bar-error{

    background-color: lightcoral;

  }





  // item block
  .item-block {
  padding: 0 0 0 10px;
    display: flex;
    width: 100%;
    background-color: #f0f0f0;
    justify-content: space-between;
    border-radius: 4px;
    opacity: 0.9;
    color: #363a43;
    font-weight: 600;
    border: 1px solid #cfdbde;
    margin-bottom: 5px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
  }

  //item left
  .item-left {
    flex-basis: 20%;
    opacity: 0.9;
  }

  // item center
  .item-center {
    flex-basis: 55%;
    display: flex;

    .item-center-before,
    .item-center-after {
      flex-basis: 100px;
      text-align: center;
      color: #7eb631;
      font-size: 13px;
      @media only screen and (max-width: 768px) {
        display: none;
      }
    }
    .item-center-main {
      flex-grow: 1;
    }

    @media only screen and (max-width: 768px) {
      flex-basis: 25%;
    }
  }

  // item right
  .item-right {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    .reduce-rate{
     flex-basis: 50px;
      text-align: center;

    }
    .download-single {
      text-decoration: underline;

    }
    .icon-more i {
      opacity: 0.7;
      font-size: 20px;
      font-weight: bold;
      vertical-align: middle;
    }
  }

  .more-options-icon{
    color: gray;
  }



} //end list block

