.options-block {
  .tabs .tab a {
    color: gray;
    font-weight: 500;
  }
  .tabs .tab a:hover,
  .tabs .tab a.active {
    background-color: transparent;
    color: #008b9b;
  }
  .tabs .tab.disabled a,
  .tabs .tab.disabled a:hover {
    color: rgba(102, 147, 153, 0.7);
  }
  .tabs .indicator {
    background-color: #009bad;
  }

  // for all tab content
  .tab-content {
    background-color: white;
    margin: 5px 0 1% 0;
    border-radius: 5px;
    padding: 10px 1% 5px 1%;


  }

  // only for tab content
  .resize-content{
    padding-bottom: 0;
  }

  .label-field {
    color: cornflowerblue;
  }

  // for scroll bar
  /* width */
  ::-webkit-scrollbar {
    height: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: lightblue;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
  }
} // options block end
