.upload-block{


.button-block button{
margin-bottom: 1rem;
margin-top: 1rem;

}

.first-button{
  padding-left: 3rem;
  padding-right: 3rem;
}
  >p{
    opacity: 0.8;
  }










}// end upload block